html {
  background: rgb(36, 38, 42);
  color: rgb(238, 238, 238);
}
* {
  margin: 0;
  padding: 0;
}

header,
.links,
#desktop-nav,
#my-name {
  display: flex;
  flex-direction: row;
}
/* TRANSITION */

a,
.btn,
header,
.mlinks,
.hamburger-icon,
.skill {
  transition: all 300ms ease;
}

/*-------------------------- header styling ------------------------------------*/

header {
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  background-color: rgb(34, 40, 49);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.links {
  gap: 1rem;
  list-style: none;
  font-size: 1.5rem;
}

header .links a {
  color: rgb(238, 238, 238);
  text-decoration: none;
}

#my-name {
  align-items: center;
  font-size: 2.5rem;
}

#my-name:hover {
  cursor: default;
}

#desktop-nav {
  width: 50%;
  justify-content: center;
}

header .links a:hover {
  color: rgb(104, 176, 180);
  font-size: 2rem;
  text-decoration-color: black;
}
#mobile-nav {
  display: none;
}

/*------------------------------- the mobile header ------------------------------------- */
@media screen and (max-width: 720px) {
  #desktop-nav {
    display: none;
  }
  #mobile-nav {
    position: relative;
    display: inline-block;
  }
}

.mlinks {
  list-style: none;
  font-size: 1rem;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2.5px;
  background-color: white;
  transition: all 0.5 ease-in-out;
}

.mlinks {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(0, 0, 0);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5 ease-in-out;
}

.mlinks a {
  display: block;
  border-bottom: thin solid;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  transition: all 0.5 ease-in-out;
}

.mlinks.on {
  max-height: 150px;
}

.hamburger-icon.on span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.on span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.on span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/*----------------------------------------------- the main section  */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  display: flex;
  justify-content: space-around;
  height: 93vh;
  margin: 3vh 0;
}
/*--------------------- the profile labtop--------------------- */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 30vw;
}
#profileImg img {
  width: 70%;
  height: 70%;
  border-radius: 60%;
}
.profile h1 {
  font: 2.4rem bolder;
}

.profile p {
  font: 1.2rem bold;
  opacity: 0.5;
}
.profile_right:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0;
}

.profile_right:nth-child(2) {
  display: flex;
  gap: 10px;
}

.profile_btn {
  padding: 0.6rem;
  background: none;
  border-color: rgb(238, 238, 238);
  color: rgb(238, 238, 238);
  border-style: solid;
  border-radius: 20px;
}

.profile_btn:hover {
  cursor: pointer;
  color: rgb(36, 38, 42);
  background: rgb(238, 238, 238);
}
.profile_right:last-child {
  height: 12vh;
  padding: 5px;
  display: flex;
  gap: 20px;
}
.profile i {
  cursor: pointer;
  font-size: 50px;
}
/*--------------------- the profile mobile--------------------- */

@media screen and (max-width: 720px) {
  #profileSec {
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .profile {
    width: 100%;
    height: 90%;
  }
}

/*--------------------- the about labtop--------------------- */
#about {
  width: 90vw;
  display: grid;
  grid-template-areas:
    "k a a a a"
    "b b c c c"
    "b b c c c"
    "d d c c c";
  grid-template-columns: repeat(5, 1fr); /* Equal-width columns */
  grid-template-rows: repeat(4, 1fr); /* Equal-height rows */
}
.about {
  height: 100%;
  width: 50%;
}
#about h1 {
  grid-area: a;
  align-self: center;
  font-size: 4rem;
}

#about_img {
  width: 80%;
  display: flex;
  grid-area: b;
  justify-self: center;
  align-items: center;
  justify-content: center;
}
#about img {
  height: 100%;
  max-width: 100%;
  border-radius: 25%;
}
#about_txt {
  width: 100%;
  grid-area: c;
}

/*--------------------- the about mobile--------------------- */
@media screen and (max-width: 720px) {
  #about {
    grid-template-areas:
      ". a a a a a"
      ". b b b . ."
      ". b b b . ."
      "c c c c c c";
  }
  #about h1 {
    font-size: 3rem; /* Adjust font size for mobile */
  }

  #about_img {
    width: 100%; /* Adjust width for mobile */
    grid-area: b;
  }

  #about_txt {
    width: 100%; /* Ensure full width */
    grid-area: c;
  }
}

/*--------------------- the skills labtop--------------------- */
#skills {
  width: 100%;
  width: 90vw;
  display: grid;
  grid-template-areas:
    "d a k k k"
    "c c c c c"
    "c c c c c"
    "c c c c c";
  grid-template-columns: repeat(5, 1fr); /* Equal-width columns */
  grid-template-rows: repeat(4, 1fr); /* Equal-height rows */
}

#skills h1 {
  grid-area: a;
  align-self: flex-end;
  justify-self: center;
  font-size: 4rem;
}

#skills_section {
  grid-area: c;
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: auto; /* Horizontal scrollbar */
}

#skills_section::-webkit-scrollbar {
  width: 0; /* Hide scrollbar width */
  background: transparent; /* Hide scrollbar background */
}

/* Scrollbar track */
#skills_section::-webkit-scrollbar-track {
  background-color: rgb(36, 38, 42);
}

/* Scrollbar thumb */
#skills_section::-webkit-scrollbar-thumb {
  background-color: #f6f6f6; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Border radius of the scrollbar thumb */
}

/* Scrollbar thumb on hover */
#skills_section::-webkit-scrollbar-thumb:hover {
  background-color: #b3c9cf; /* Color of the scrollbar thumb on hover */
}

/* Scrollbar buttons (arrows) */
#skills_section::-webkit-scrollbar-button {
  display: none;
}

#skills_section > .column {
  flex: 0 0 23%; /* Flex-grow set to 0 (don't grow), Flex-shrink set to 0 (don't shrink), Flex-basis set to 30% */
  height: 100%;
  text-align: center;
  margin-right: 2%;
}

#skills_section > .column:last-child {
  margin-right: 0;
}

.skill {
  background-color: rgb(44, 44, 68);
  height: 23%;
  width: 100%;
  margin: 0 3% 3% 3%;
  border-radius: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill i {
  font-size: 5rem;
}

.skill-hover {
  background-color: rgba(104, 129, 162, 0.452);
  height: 23%;
  margin: 0 3% 3% 3%;
}

.skill_name {
  display: none;
  font-size: xx-large;
}

.skill-hover i {
  display: none;
}
.skill-hover .skill_name {
  display: inline;
}
/*--------------------- the skills mobile--------------------- */
@media screen and (max-width: 720px) {
  .skill i {
    font-size: 4rem;
  }
  #skills_section > .column {
    flex: 0 0 45%; /* Flex-grow set to 0 (don't grow), Flex-shrink set to 0 (don't shrink), Flex-basis set to 30% */
    height: 100%;
    text-align: center;
  }
  #skills_section::-webkit-scrollbar {
    display: none;
  }
}

/*--------------------- the contact labtop--------------------- */
#contact {
  width: 100%;
  display: grid;
  width: 90vw;
  display: grid;
  grid-template-areas:
    "d a a a k"
    "c c c c c"
    "c c c c c"
    "c c c c c";
  grid-template-columns: repeat(5, 1fr); /* Equal-width columns */
  grid-template-rows: repeat(4, 1fr); /* Equal-height rows */
}

#contact h1 {
  grid-area: a;
  align-self: flex-end;
  justify-self: center;
  font-size: 4rem;
}

#contactInfo {
  grid-area: c;
  margin: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contBtn {
  height: 40%;
  width: 30%;
  font-size: 2rem;
  margin-right: 4%;
  padding: 0.6rem;
  background: none;
  border-color: #5a72a0;
  color: #5a72a0;
  border-style: solid;
  border-radius: 40px;
}

#contBtn:hover {
  cursor: pointer;
  color: rgb(36, 38, 42);
  background: rgb(238, 238, 238);
  border-color: rgb(238, 238, 238);
}
/*--------------------- the contact mobile--------------------- */
@media screen and (max-width: 720px) {
  #contactInfo {
    flex-direction: column;
    justify-content: space-between;
    align-items: spa;
  }
  #contBtn {
    height: 30%;
    width: 100%;
  }
}
